{% extends "base.html" %}
{% load i18n %}
{% load filter_tags %}
{% load inclusion_tags %}
{% block content %}

  {% page_header 'Reset Complete' %}

  <section class="section--account-page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>{% trans 'Your password has been changed, please click sign in below to proceed' %}</p>
          <p><a href="{% url 'auth_login' %}" class="btn btn-primary">{% trans 'Sign In' %}</a></p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
