{% extends "base.html" %}
{% load i18n %}
{% load filter_tags %}
{% load inclusion_tags %}
{% block content %}

  {% page_header 'New Password' %}

  <section class="section--account-page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% if validlink %}
            <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly' %}</p>
            {% include 'includes/errors.html' %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">{% trans 'New password' %}</label>
                {{ form.new_password1|add_css:'form-control' }}
              </div>
              <div class="form-group">
                <label for="form.new_password2.id_for_label">{% trans 'Confirm password' %}</label>
                {{ form.new_password2|add_css:'form-control' }}
              </div>
              <div class="form-group">
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary">
              </div>
            </form>
          {% else %}
            <p>{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset below' %}</p>
            <p><a href="{% url 'auth_password_reset' %}" class="btn btn-primary">{% trans "Password Reset" %} </a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
