{% extends "base.html" %}
{% load i18n %}
{% load filter_tags %}
{% load inclusion_tags %}
{% block content %}

  {% page_header 'Reset Password' %}

  <section class="section--account-page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>{% trans 'Enter your email address below to reset your pasword' %}...</p>
          {% include "includes/alerts/errors.html" %}
          <form novalidate method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}">{% trans 'Email' %}</label>
              {{ form.email|add_css:'form-control' }}
            </div>
            <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
