{% load humanize %}
{% load i18n %}
<html>
    <head>
        <title>{% trans 'Property Alerts' %}</title>
    </head>
    <body>
        <h1>{% trans 'Latest Properties' %}</h1>
        {% for property in properties %}
            <div>
                <h2>{{property.title}}</h2>
                <h3>{{property.display_address}}</h3>
                <h4>{{property.get_qualifier_display}} £{{property.price|floatformat|intcomma}}</h4>
                <p>{{property.summary}}</p>
                {% if property.price %}<a href="http://0.0.0.0:8000{% url 'sales:detail' property.slug %}">{% trans 'More Details' %}</a>{% else %}<a href="http://0.0.0.0:8000{% url 'lettings:detail' property.slug %}">{% trans 'More Details' %}</a>{% endif %}
            </div>
        {% endfor %}
    </body>
</html>