<html>
    <head>
        <title>Contact Notification</title>
    </head>
    <body>
        <h1>You've received the following contact submission from a visitor to your website...</h1>
        <table width="100%">
            <tr>
                <th width="20%" style="text-align:left">Property:</th>
                <td>{{property}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Title:</th>
                <td>{{title}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Forename:</th>
                <td>{{forename}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Surname:</th>
                <td>{{surname}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Message:</th>
                <td>{{message}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Telephone:</th>
                <td>{{telephone}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Email:</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Country:</th>
                <td>{{country}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Postcode:</th>
                <td>{{postcode}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Send More Details:</th>
                <td>{{details}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">Arrange Viewing:</th>
                <td>{{viewing}}</td>
            </tr>
        </table>
    </body>
</html>