{% load i18n %}
<html>
    <head>
        <title>{% trans 'Contact Notification' %}</title>
    </head>
    <body>
        <h1>{%  trans "You've received the following contact submission from a visitor to your website..." %}</h1>
        <table width="100%">
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Property' %}:</th>
                <td>{{property}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Title' %}:</th>
                <td>{{title}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Forename' %}:</th>
                <td>{{forename}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Surname' %}:</th>
                <td>{{surname}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Message' %}:</th>
                <td>{{message}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Telephone' %}:</th>
                <td>{{telephone}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Email' %}:</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Country' %}:</th>
                <td>{{country}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Postcode' %}:</th>
                <td>{{postcode}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Send More Details' %}:</th>
                <td>{{details}}</td>
            </tr>
            <tr>
                <th width="20%" style="text-align:left">{% trans 'Arrange Viewing' %}:</th>
                <td>{{viewing}}</td>
            </tr>
        </table>
    </body>
</html>