{% load i18n %}
{% load filter_tags %}
<section class="section--search-form">
  <form id="search_form" novalidate autocomplete="off" method="post">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="form-group {%if form.search_type.errors%}has-danger{%endif%}">
            <label>{% trans 'Search Type' %}</label>
            {{form.search_type}}
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group {%if form.min_price.errors%}has-danger{%endif%}">
            <label>{% trans 'Min Price'%}</label>
            {{form.min_price}}
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group {%if form.max_price.errors%}has-danger{%endif%}">
            <label>{% trans 'Max Price'%}</label>
            {{form.max_price}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="form-group autocomplete__container">
            <label>{% trans 'Location'%}</label>
            {% if form.location.errors %}
              {{form.location|add_css:'is-invalid'}}
            {% else %}
              {{form.location}}
            {% endif %}
            <div id="id_results" class="autocomplete__overlay" style="display:none;">&nbsp;</div>
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group {%if form.min_bedrooms.errors%}has-danger{%endif%}">
            <label>{% trans 'Min Bedrooms'%}</label>
            {{form.min_bedrooms}}
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group {%if form.property_type.errors%}has-danger{%endif%}">
            <label>{% trans 'Property Type'%}</label>
            {{form.property_type}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">
                {% trans 'Search'%} <i class="fa fa-search"></i>
            </button>
        </div>
      </div>
    </div>
  </form>
</section>
