{% load static %}
{% load filter_tags %}
{% load inclusion_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}
            {% page_meta %}
        {% endblock %}
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'build/css/style.min.css' %}">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        {% block header_scripts %}
            <script src="{% static 'build/js/commons.js' %}"></script>
        {% endblock %}
    </head>
    <body>
    {% include 'includes/nav.html' %}
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="footer--top">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h2 class="footer__title">Contact Us</h2>
                        {% page_block 'footer-contact' %}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h2 class="footer__title">Navigation</h2>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h2 class="footer__title">Recent Posts</h2>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        {% branch_list %}
                    </div>
                </div>
            </div>
            <div class="footer--bottom">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <p class="footer--name align-middle">{% trans 'My Agency Website' %}</p>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <p class="footer--copyright align-middle">&copy; {% now "Y" %} {% trans 'My Agency Website. All Rights Reserved.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block footer_scripts %}
        <script src="{% static 'build/js/extra.min.js' %}"></script>
    {% endblock %}
    {% include 'includes/google/analytics.html' %}
    </body>
</html>
