{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load inclusion_tags %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <section class="section--banner" style="background:url('{% static 'build/img/header.jpg' %}');background-size:cover;background-position:center;">
        <div class="section--banner__overlay">
            <h2 class="section--banner__title">Lorem ipsum dolor</h2>
            <h3 class="section--banner__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
            <p class="section--banner__link"><a href="" class="btn btn-primary">Do Action</a></p>
        </div>
    </section>
    {% include 'includes/forms/search.html' %}
    <section class="section--home-page">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% page_block 'lorem' %}
                    {% page_block 'latest-homes-for-sale' %}
                    <div class="card-group spacer-one-rem">
                        {% for property in latest.sale %}
                            {% include "includes/homes-for-sale/latest-result.html" %}
                        {% endfor %}
                    </div>
                    {% page_block 'latest-homes-to-let' %}
                    <div class="card-group">
                    {% for property in latest.let %}
                        {% include "includes/homes-to-let/latest-result.html" %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts%}
  {{block.super}}
  <script src="{% static 'build/js/search.bundle.js' %}"></script>
{% endblock %}
