{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load inclusion_tags %}
{% load i18n %}
{% load humanize %}
{% block content %}
    {% include 'includes/forms/search.html' %}
    <section class="section--home-page">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% page_block 'lorem' %}
                    <h2>Homes For Sale</h2>
                    {% for property in latest.sale %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-xs-12 col-sm-3">
                            {% include "includes/homes-for-sale/latest-result.html" %}
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last%}</div><div class="row">{% endif %}
                        {% if forloop.last %}</div>{% endif %}
                    {% empty %}
                        <p>{% trans 'We have no property currently for sale' %}</p>
                    {% endfor %}
                     <h2>Homes To Let</h2>
                    {% for property in latest.let %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-xs-12 col-sm-3">
                            {% include "includes/homes-to-let/latest-result.html" %}
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last%}</div><div class="row">{% endif %}
                        {% if forloop.last %}</div>{% endif %}
                    {% empty %}
                        <p>{% trans 'We have no property currently to let' %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts%}
  {{block.super}}
  <script src="{% static 'build/js/search.bundle.js' %}"></script>
{% endblock %}
