.article--property-latest{

}
.article--property-latest__image{
  margin-bottom:1rem;
  border:solid 1px #ccc;
}
.article--property-latest__title{
  font-size:1.2rem;
}
.article--property-latest__address{
  font-size:1rem;
}
.article--property-latest__price{
  font-size:0.8rem;
}
