.article--search-result{
  margin-bottom:1rem;
}
.article--search-result__title{
  font-size:1.5rem;
}
.article--search-result__display-address{
  font-size:1rem;
}
.article--search-result__rental,
.article--search-result__price{
  float:right;
}
